.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #0f0f0f;
}

/* Navbar */
.chat-navbar {
  height: 56px;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #2a2a2a;
  color: white;
  margin:5px;
}

/* Chat body */
.chat-body {
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

/* THIS IS THE IMPORTANT PART */
.chat-content {
  width: 100%;
  max-width: 760px;
  padding: 24px 20px 120px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Input */
.chat-input {
  position: sticky;
  bottom: 0;
  background: #1e1e1e;
  border-top: 1px solid #2a2a2a;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.chat-input input {
  width: 100%;
  max-width: 760px;
  padding: 12px;
  background: #2a2a2a;
  color: white;
  border-radius: 8px;
}
