* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #0f0f0f;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}
.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
